<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>錯誤頁面</title>
  </head>
  <body>
    <p>無法成功新增學生</p>
    <p>錯誤訊息為:<%= e.message %></p>
    <!-- 點擊這個連結就是對localhost:3000這個server中的/students這個route寄送一個GET request -->
    <a href="/students">回到學生首頁</a>
  </body>
</html>
