<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>找不到該學生</title>
  </head>
  <body>
    <p>沒有id為<%= _id %>的學生</p>
    <!-- 點擊這個連結就是對localhost:3000這個server中的/students這個route寄送一個GET request -->
    <a href="/students">回到學生首頁</a>
  </body>
</html>
